body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    margin: 5px;
}
#disconnect {
    background-color: red;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
table {
    width: 50%;
    margin: 20px auto;
}
button {
    margin: 5px;
}
.left-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        height: 100%;
        background-color: #f8f9fa;
        padding: 20px;
        overflow: auto;
}
.content {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details {
    text-align: center;
    font-style: italic;
}