<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <!--Menú a la izquierda-->
    <div class="left-menu">
        <h5>Menú</h5>
        <p class="details">ID de red: <span id="id"></span></p>
        <p class="details">Puerto: <span id="port"></span></p>
        <button class="btn waves-effect waves-light" onclick="location.href='/metrics'">Métricas</button>
        <button class="btn waves-effect waves-light" onclick="results()">Datos</button>
        <button class="btn waves-effect waves-light" onclick="my_data()">Mi dataset</button>
        <button class="btn waves-effect waves-light" onclick="mykeys()">Mis claves</button>
        <button class="btn waves-effect waves-light" onclick="genkeys('Paillier')">Nuevas claves P</button>
        <button class="btn waves-effect waves-light" onclick="genkeys('Damgard-Jurik')">Nuevas claves DJ</button>
        <button class="btn waves-effect waves-light" onclick="discover_peers()">Buscar peers</button>
        <button id="connect" class="btn waves-effect waves-light" onclick="connect()">Conectar</button>
        <button class="btn waves-effect waves-light red" onclick="disconnect()">Desconectar</button>
    </div>

    <!--Contenido principal-->
    <div class="content">
        <h2>Dispositivos conectados</h2>
        <div id="devices"></div>
        <p>Seleccione sobre el dispositivo el criptosistema que quiere utilizar para calcular la intersección</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
