<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Red actual</h1>
    <!-- TODO: Mostrar la red actual, el puerto en el que se está escuchando y el puerto y dirección de los dispositivos conectados -->
    <form action="/metrics">
        <label for="implementation">Elige una implementación:</label>
        <select id="implementation" name="implementation">
            <option value="imp1">Implementación 1</option>
            <option value="imp2">Implementación 2</option>
            <option value="imp3">Implementación 3</option>
        </select>
        <input type="submit" value="Confirmar">
    </form>
    <button onclick="location.href='/metrics'">Ver métricas</button>
</body>
</html>
