<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <h2>Dispositivos conectados - Puerto de la red: <span id="port"></span></h2>
    <div id="devices"></div>

    <!--Dropdown siguiendo la estética para elegir una implementación de PSI-->
    <h5>Imlementación de PSI a utilizar</h5>
    <label for="psi"></label><select id="psi">
        <option value="psi">Paillier</option>
        <option value="psi2">TBD</option>
        <option value="psi3">TBD</option>
    </select>
    <br><br>
    <input type="submit" value="Confirmar" onclick="change_psi_imp()" class="btn waves-effect waves-light">

    <hr>

    <button class="btn waves-effect waves-light" onclick="location.href='/metrics'">Ver métricas</button>
    <button id="connect" class="btn waves-effect waves-light" onclick="connect()">Conectar</button>
    <button class="btn waves-effect waves-light red" onclick="disconnect()">Desconectar</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
