<!DOCTYPE html>
<html lang="es">
<head>
    <title>Métricas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/metrics.js"></script>
</head>
<body>
    <h1 id="mylogs">Logs recuperados</h1>
    <div>
        <button class="btn waves-effect waves-light" onclick="location.href='/metrics'">Actualizar</button>
        <button class="btn waves-effect waves-light" onclick="location.href='/'">Volver</button>
        <button class="btn waves-effect waves-light" id="download-excel">Descargar Excel</button>
    </div>
    <div id="loading-spinner" class="preloader-wrapper active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>Fecha y hora</th>
                <th>Actividad</th>
                <th>Tiempo (s)</th>
                <th>Uso de RAM</th>
                <th>Uso de RAM - Programa</th>
                <th>Uso de CPU</th>
                <th>Uso de CPU - Programa</th>
            </tr>
        </thead>
        <tbody id="logs">
            <tr>
            </tr>
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
